doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='shortcut icon' href='/images/Icon.ico')
    block title
  body
    div.bg
      span Baeksikoo Network
    nav.menu
      .menu_box_1
        div
          a(href="/") Baeksikoo Network
      ul.menu_box_2
        li 
          a(href="/") Home
        li 
          a(href="/service") service
        li 
          a(href="/official") Official
        li 
          a(href="/qna") QnA
        li
          a(href="/client") 문의
      ul.menu_box_3 
        li 
          a(href="/account/login") 로그인
          a(href="/account/register") 회원가입
      
    block content
  .under
    p Copyright 2022. Baeksikoo Network all rights reserved