extends layout

block title
  title BN - Official

block content
  .main4
    .story
      h1.story_title 홈페이지가 개통되었습니다!
      pre.story_description
        | 드디어 홈페이지가 개통되었습니다. 
        | 첫 서비스로 auto zoom connector을 배포하고 있습니다. 
        | 많은 관심 부탁드립니다
      p.story_date 22/02/01