extends layout

block title
  title BN - Service

block content
  .main
    p.titleMsg(style="text-align: center;") "업무 및 학업에 필요한 프로그램 개발사"
    p.titleMsg_En(style="text-align: center;") "A program developer necessary for work and study"
    br
    br
    br
    p.descriptionMsg(style="text-align: center;") Baeksikoo Network는 일상생활에서의 업무, 학업에 편리함을 주는 프로그램들을 개발하고 있습니다 
    p.descriptionMsg(style="text-align: center;") electron, nodejs 등과 같은 가벼운 언어로 제작된 우리의 서비스들은
    p.descriptionMsg(style="text-align: center;") 편리함을 추구할 뿐만 아니라 대부분의 컴퓨터에서 돌아갈 수 있도록 설계했습니다.
  .main3
    p.titleMsg(style="text-align: center;") "수동 줌 연결이 불편하세요?"
    span.subMsg3(style="text-align: center;") 그렇다면, 
      span.subMsg3(style="color:black;") Auto Zoom Connector
      span.subMsg3 을 만나보세요!
    br
    p
      a.download_btn.bg_white(href='/azc') AZC 바로가기