doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='shortcut icon' href='/images/Icon.ico')
    block title
  body
    div.bg
      span AZC - Auto 
      strong.bg_title_dodgerblue Zoom 
      span Connector
    nav.menu
      .menu_box_1
        div
          a(href="/") Baeksikoo Network
      ul.menu_box_2
        li 
          a(href="/azc") Home
        li 
          a(href="/azc/about") About
        li 
          a(href="/azc/official") Official
        li 
          a(href="/azc/release") Release
      ul.menu_box_3 
        li 
          a(href="https://www.youtube.com/channel/UCJ3lythwS7xfUWStIid4cAg" target="_blank") Youtube
      
    block content
