extends layout

block title
  title AZC - Official

block content
  .main4
    .story
      h1.story_title BETA 1.5버전 출시!!
      pre.story_description
        | 홈페이지 개통과 동시에 Beta 1.5버전을 출시했습니다.
        | Edit 기능이 추가 되었습니다. 
        | 현재 구현된 기능은 Create Update Read Delete 모두 구현되었습니다 
        | 많은 관심 부탁드립니다.
      p.story_date 22/02/01